/* Coolors Exported Palette - https://coolors.co/345995-fb4d3d-edffec-14080e-3d0c11 */

/* CSS HEX */
--bdazzled-blue: #345995ff;
--tart-orange: #fb4d3dff;
--honeydew: #edffecff;
--xiketic: #14080eff;
--dark-sienna: #3d0c11ff;

/* CSS HSL */
--bdazzled-blue: hsla(217, 48%, 39%, 1);
--tart-orange: hsla(5, 96%, 61%, 1);
--honeydew: hsla(117, 100%, 96%, 1);
--xiketic: hsla(330, 43%, 5%, 1);
--dark-sienna: hsla(354, 67%, 14%, 1);

/* SCSS HEX */
$bdazzled-blue: #345995ff;
$tart-orange: #fb4d3dff;
$honeydew: #edffecff;
$xiketic: #14080eff;
$dark-sienna: #3d0c11ff;

/* SCSS HSL */
$bdazzled-blue: hsla(217, 48%, 39%, 1);
$tart-orange: hsla(5, 96%, 61%, 1);
$honeydew: hsla(117, 100%, 96%, 1);
$xiketic: hsla(330, 43%, 5%, 1);
$dark-sienna: hsla(354, 67%, 14%, 1);

/* SCSS RGB */
$bdazzled-blue: rgba(52, 89, 149, 1);
$tart-orange: rgba(251, 77, 61, 1);
$honeydew: rgba(237, 255, 236, 1);
$xiketic: rgba(20, 8, 14, 1);
$dark-sienna: rgba(61, 12, 17, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #345995ff, #fb4d3dff, #edffecff, #14080eff, #3d0c11ff);
$gradient-right: linear-gradient(90deg, #345995ff, #fb4d3dff, #edffecff, #14080eff, #3d0c11ff);
$gradient-bottom: linear-gradient(180deg, #345995ff, #fb4d3dff, #edffecff, #14080eff, #3d0c11ff);
$gradient-left: linear-gradient(270deg, #345995ff, #fb4d3dff, #edffecff, #14080eff, #3d0c11ff);
$gradient-top-right: linear-gradient(45deg, #345995ff, #fb4d3dff, #edffecff, #14080eff, #3d0c11ff);
$gradient-bottom-right: linear-gradient(135deg, #345995ff, #fb4d3dff, #edffecff, #14080eff, #3d0c11ff);
$gradient-top-left: linear-gradient(225deg, #345995ff, #fb4d3dff, #edffecff, #14080eff, #3d0c11ff);
$gradient-bottom-left: linear-gradient(315deg, #345995ff, #fb4d3dff, #edffecff, #14080eff, #3d0c11ff);
$gradient-radial: radial-gradient(#345995ff, #fb4d3dff, #edffecff, #14080eff, #3d0c11ff);