* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

:root {
  --color-primary: #409eff;
  --color-secondary: #000411;
  --white: #fff;
  --black: #000;
  --dark-white: #fafafa;
  --light-black: #333;
  --gray: #909399;
}

._bg-primary {
  background-color: var(--color-primary);
}

._bg-secondary {
  background-color: var(--color-secondary);
}

._bg-white {
  background-color: var(--white);
}

._bg-black {
  background-color: var(--black);
}
._bg-gray {
  background-color: var(--gray);
}

._c-white {
  color: var(--white) !important;
}

._bold {
  font-weight: 700;
}

._semi-bold {
  font-weight: 600;
}

._light {
  font-weight: 300;
}

._link {
  color: var(--light-black);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
._link:hover {
  color: var(--color-primary) !important;
}

._text-small {
  font-size: 0.8rem;
}
._text-smaller {
  font-size: 0.7rem;
}

._text-smallest {
  font-size: 0.6rem;
}

._text-big {
  font-size: 1.2rem;
}

._text-bigger {
  font-size: 1.4rem;
}

._text-biggest {
  font-size: 1.6rem;
}

._title {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
}

._subtitle {
  font-size: 0.9rem;
  font-weight: 200;
  margin: 0;
}
