* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

:root {
  --color-primary: #114b5f;
  --color-secondary: #000411;
  --white: #fff;
  --black: #000;
  --dark-white: #f3f3f3;
  --light-black: #333;
  --gray: #909399;
}

._bg-primary {
  background-color: var(--color-primary) !important;
}

._bg-white {
  background-color: var(--white) !important;
}

._bg-black {
  background-color: var(--black) !important;
}
._bg-gray {
  background-color: var(--gray) !important;
}
._bg-light-black {
  background-color: var(--light-black) !important;
}
._bg-dark-white {
  background-color: var(--dark-white) !important;
}

._color-primary {
  color: var(--color-primary) !important;
}

._color-secondary {
  color: var(--color-secondary) !important;
}

._color-white {
  color: var(--white) !important;
}

._color-black {
  color: var(--black) !important;
}

._c-white {
  color: var(--white) !important;
}

._bold {
  font-weight: 700;
}

._semi-bold {
  font-weight: 600;
}

._light {
  font-weight: 300;
}

._link {
  color: var(--light-black);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
._link:hover {
  color: var(--color-primary) !important;
}

._text-small {
  font-size: 0.8rem;
}
._text-smaller {
  font-size: 0.7rem;
}

._text-smallest {
  font-size: 0.6rem;
}

._text-big {
  font-size: 1.2rem;
}

._text-bigger {
  font-size: 1.4rem;
}

._text-biggest {
  font-size: 1.6rem;
}

._title {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
}

._subtitle {
  font-size: 0.9rem;
  font-weight: 200;
  margin: 0;
}
._letter-spacing-1 {
  letter-spacing: 1px;
}
._letter-spacing-2 {
  letter-spacing: 2px;
}
._letter-spacing-3 {
  letter-spacing: 3px;
}
._letter-spacing-4 {
  letter-spacing: 4px;
}
._letter-spacing-5 {
  letter-spacing: 5px;
}

._mt-1 {
  margin-top: 1rem;
}
._mt-2 {
  margin-top: 2rem;
}
._mt-3 {
  margin-top: 3rem;
}
._mb-1 {
  margin-bottom: 1rem;
}
._mb-2 {
  margin-bottom: 2rem;
}
._mb-3 {
  margin-bottom: 3rem;
}

._w-50 {
  width: 100% !important;
}

._w-75 {
  width: 100% !important;
}

._only-tablet {
  display: none;
}
.min-h-50 {
  min-height: 50vh;
}
._h-100 {
  height: 100vh;
}

._h-90 {
  height: 90vh;
}
.h-100{
  height: 100%;
}
._hv-100 {
  height: 25vh;
}
._w-60 {
  width: 100% !important;
}

._w-40 {
  width: 100% !important;
}

._w-25 {
  width: 100% !important;
}

._w-35 {
  width: 100% !important;
}

._is-mobile {
  display: flex !important;
}

._not-mobile {
  display: none;
}

._btn {
  border-radius: 10px;
  background-color: transparent;
  padding: 5px;
  transition: linear 0.3s ease;
  cursor: pointer;
  text-align: end;
  overflow: hidden;
  min-width: 100px;
}
._btn:hover {
  background-color: var(--dark-white);
}

._btn img {
  transition: all 0.3s;
  width: 32px;
  height: 32px;
}
._btn div {
  transform: translateX(500px);
  transition: all 0.3s;
  background-color: transparent;
  padding: 0px 15px;
}
._btn:hover img {
  transform: rotateY(360deg);
}
._btn:hover div {
  transform: translateX(0px);
}

._btn div p {
  padding: 2px 5px;
  transition: all 0.3s;
}

._btn div p:hover {
  color: var(--color-primary);
  letter-spacing: 0.5px;
}
._ajustes {
  position: absolute;
  top: 10px;
  right: 10px;
}

._bottom {
  top: auto;
  bottom: 10px !important;
}

._right {
  left: auto;
  right: 10px !important;
}

[class*="_widget"] {
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1rem;
  letter-spacing: 0.5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

._big-container {
  height: 80vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid var(--gray);
}

._noreverse {
  flex-direction: column;
}

._reverse {
  flex-direction: column-reverse;
}
._text-justify {
  text-align: justify;
}

._img-svg {
  width: 100%;
  z-index: -3;
}

._list {
  list-style: circle;
}
._list li {
  margin: 5px 0px;
}

._glass-morphism {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
}

._map {
  width: 100%;
  height: 150px;
  padding: 10px 5px;
  border-radius: 50px;
}

._clickable {
  cursor: pointer;
  color: var(--light-black);
  transition: all .3s ease-in-out;
}

._clickable:hover {
  color: var(--color-primary);
}


@media (min-width: 768px) {
  ._w-50 {
    width: 50% !important;
  }
  ._w-40 {
    width: 40% !important;
  }
  ._w-25 {
    width: 25% !important;
  }
  ._w-35 {
    width: 35% !important;
  }
  ._only-tablet {
    display: block;
  }
  ._not-mobile {
    display: inline-block;
  }
  ._w-75 {
    width: 75% !important;
  }
  ._w-60 {
    width: 60% !important;
  }
  ._is-mobile {
    display: none !important;
  }
  ._hv-100 {
    height: 100vh;
  }
  ._btn {
    min-width: 200px;
  }
  ._big-container {
    flex-wrap: nowrap;
  }
  ._reverse {
    flex-direction: row;
  }
  ._noreverse {
    flex-direction: row;
  }
}
